[2014-08-10 16:49] Glavin001 opened #1 "Scaffold the foundation for this project"
Dependencies:
- [Angular](https://angularjs.org/)
- [CoffeeScript](http://coffeescript.org/)
- [jsPlumb](http://jsplumbtoolkit.com/)

TODO:
- [x] Use [generator-angular](https://github.com/yeoman/generator-angular) with `--coffee` enabled.
  - [x] Convert the JavaScript version of Gruntfile to CoffeeScript with http://js2coffee.org/
- [x] Add `jsplumb` via [Bower](http://bower.io/).
  - ~~Unit Tes

[2014-08-10 18:12] Glavin001 opened #2 "Setup Google Analytics"
@curtisko what is Mozilla's policy on implement (Google) Analytics?

I believe it would be beneficial to track usage and also record events from users to detect what features they are using most, to help us decide the priority of what we should work on next.

Alternatively, we could use [Segment.io](https://segment.io/).

[2014-08-10 19:49] Glavin001 opened #3 "Setup jsPlumb with Angular"
See https://github.com/mrquincle/jsplumb-example for example.

---

@kallada since you are the most familiar with jsPlumb I thought you would like to tackle this initial setup.

[2014-08-10 20:11] kallada opened #4 "Import Microsoft threat-model (.tm4) format"
The current most popular tool for threat modeling is the the Microsoft Threat Modelling Tool. This tool uses an XML based format for storing threat models. A user can import threat models that have been created using the Microsoft tool.

[2014-08-10 23:01] #1 closed, assigned to Glavin001

[2014-08-10 23:35] Glavin001 opened #6 "Discussion: Contributing and Coding Conventions"
@kallada what do you think about this Pull Request workflow (ref #5)? I think we should lay down the law for contributing and coding conventions. Potentially use [coffeelint](http://www.coffeelint.org/) and define a CoffeeScript coding convention based off of [Mozilla's JavaScript style guide](https://developer.mozilla.org/en-US/docs/Mozilla/Developer_guide/Coding_Style).

What are everyone's thou

[2014-09-03 15:06] Glavin001 opened #8 "Export threat model to image/HTML/PDF"
[Easy] The user may want to export an image of the threat model itself for presentation purposes. The user will be able to set the resolution or page size preferences upon export or print. With jsPlumb this should be fairly easy to add.

[2014-09-17 14:14] Glavin001 opened #9 "Write Project Proposal"

[2014-09-17 14:14] #9 closed, assigned to nobody

[2014-09-17 14:16] Glavin001 opened #10 "Draw threat models using a drag-n-drop interface"
[Medium] This is the core feature of the application and top priority. We will use jsPlumb, a graph drawing tool, for this task. We will need to extend certain features of jsPlumb to suit our needs. Elements added will each have their own properties that can be edited by the user.

[2014-09-17 14:16] Glavin001 opened #11 "Analyze STRIDE attributes among element interactions"
STRIDE interactions give us insight on potential security flaws within a threat model. The application will generate threats based on these attributes.

[2014-09-17 14:16] Glavin001 opened #12 "User entered mitigations from STRIDE analysis"
[Easy] Users can enter mitigations to potential threats generated via STRIDE analysis. These can be mitigations that already exist, and ones that are to be implemented in the future.

[2014-09-17 14:17] Glavin001 opened #13 "Save threat model to local storage"
[Easy] Since this application is entirely client-side, we can make use of local storage to save and load threats.

[2014-09-17 14:17] Glavin001 opened #14 "Generate reports based on threat model created"
[Medium] Users can generate reports based on a threat model and the STRIDE analysis. Types of generated reports include:
- A list of threats and information related to them
- Bugs (user entered) or potential bugs related to the model
- Diagram only
- Analysis of threat model (STRIDE)

[2014-09-17 14:19] Glavin001 opened #15 "Generate messages or warnings about the diagram"
[Medium] Messages or warnings about the current threat model are shown to the user. Being able to detect problems such as missing connections between elements or forgetting a trust boundary.

[2014-09-17 14:20] Glavin001 opened #16 "Create Notes on Elements/Flows/Boundaries/etc"
The user will enter notes pertaining to the threat model or software itself. This doesn’t affect diagrams but will be included in the reports.

[2014-09-17 14:21] Glavin001 opened #17 "Relate GitHub issues to threats"
[Medium] Users may wish to create or relate to an existing GitHub issue based on potential threats SeaSponge has detected. The Threat Model can be associated to a GitHub repository, so that detected threats can be related to project issues. When corresponding issues are closed they can resolve mitigations in the threat model.

[2014-09-17 14:21] Glavin001 opened #18 "Create multiple diagrams per model"
[Medium] Users can have many diagrams pertaining to a particular model. Being able to switch between and edit them independently is useful.

[2014-09-17 14:21] Glavin001 opened #19 "Export and import to cloud storage"
[Easy] Users may wish to save their threat models to a cloud service such as Google Drive or Dropbox. Implementing this would require using their API’s and connecting it to SeaSponge.

[2014-09-17 15:26] MatKallada opened #21 "Design a logo"
Requirements:
- Polished, and professionally crafted & designed
- Look gorgeous/bad-ass and comparable to the logos of past Mozilla projects

[2014-09-17 16:07] MatKallada opened #22 "Import and export to .sponge file format"
For exporting/importing files, we will have our own file format to save/load threat models .

---
- [x] Research into `.tm4`, Microsoft's Threat Model file format, and learn from how they architected their form. See #4

---
- [x] Saving
  - [x] Serialization
    - [x] Elements
    - [x] Flows (Connections)
    - [ ] Boundaries
  - [x] Download as file
- [x] Loading
  - [x] Deserialization
  - [x]

[2014-09-17 21:44] MatKallada opened #23 "Make & assign difficulty labels for feature issues"
The difficulty of tasks were enclosed by brackets, however it makes a lot more sense to use GitHub labels instead.

[2014-09-18 22:26] #23 closed, assigned to Glavin001

[2014-09-23 00:10] MatKallada opened #25 "Remove the "Made with <3 footer""
Regarding the "Made with <3 by the Mozilla SeaSponge team" footer on the splash page of the application.

Although it is cute for smaller applications, hackathon ideas, companies, it should be avoided for this project.

Here are reasons that we shouldn't include it:
- A unnecessary distraction to the user
- It is childish for this type application; I understand that you are trying to imply friendl

[2014-09-23 00:21] #25 closed, assigned to nobody

[2014-09-23 14:59] Glavin001 opened #26 "Modify HTML5 manifest file to allow offline usage"
See https://developer.mozilla.org/en-US/docs/Web/HTML/Using_the_application_cache

Given that we have no server and are using LocalStorage and File API ( #13 ) for loading and saving files, there are no requirements to be online. As long as we specify an HTML5 Manifest file, our web application will work seamlessly even without an Internet connection!

[2014-09-24 14:57] MatKallada opened #27 "Use Dropdown instead of tabs for Stencil Types"
There are different stencil types, for instance: OS, Windows, etc we are using tabs. Instead, let's use  [UI Select 2](https://github.com/angular-ui/ui-select2),  which is more intuitive.

[2014-09-24 14:59] #3 closed, assigned to Glavin001

[2014-09-24 15:17] #6 closed, assigned to nobody

[2014-09-25 18:15] MatKallada opened #28 "Loading screen Animation"
While JS Plumb and a graphical components load up, a cool spinner animation full-screen overlay would be entertaining.

[2014-09-25 18:21] MatKallada opened #29 "Overlay Modal Instead of Two-Step Pages"
It is more intuitive for the user to have an overlay modal with "New" & "Load" when starting the application instead of travelling on two different pages.

Consider how draw.io does it

<img src="http://i61.tinypic.com/2hoixbl.png">

[2014-09-28 23:11] MatKallada opened #30 "Export reports as HTML/PDF"
This feature entails exporting a generated security report as a HTML/PDF file so that the user can present it or use it for reference.

[2014-10-01 15:20] #29 closed, assigned to Glavin001

[2014-10-08 15:08] Frozenfire92 opened #31 "Change colors for connections and elements"
Users may wish to have multiple colors in their diagrams to help distinguish things based on their standards. Being able to easily change colors (or [palettes](https://color.adobe.com/explore/newest/?time=all)) would add customization with an easy implementation.

[2014-10-09 01:12] MatKallada opened #32 "TravisCI auto-pushing main branch to gh-pages"
Configuring Travis-CI to automatically push the main branch into gh-pages would allow people to use the latest dev copy of the application from the url: http://mozilla.github.io/seasponge/dist/ without us needing to manually push to gh-pages everytime .

[2014-10-29 01:15] #10 closed, assigned to Glavin001

[2014-11-30 16:51] #32 closed, assigned to Glavin001

[2014-12-17 06:43] #13 closed, assigned to Glavin001

[2014-12-17 16:59] Frozenfire92 opened #34 "Implement zooming of drawing area"
jsPlumb supports this, seems relatively easy

https://jsplumbtoolkit.com/doc/zooming.html

[2014-12-17 21:34] #22 closed, assigned to Glavin001

[2014-12-17 21:37] Frozenfire92 opened #35 "Implement Boundaries"
Boundaries are going to be a special type of stencil. @Glavin001 and I have discussed and we think a default jsplumb object (with no connectors) will work so long as
- [ ] we can resize the element
- [ ] we save the top left and bottom right corner

This way any elements that are within the range of the two corners are considered `bound`

[2014-12-17 21:42] Frozenfire92 opened #36 "Filter Stencils"
Instead of adding another library @Glavin001 and I have discussed it may be better to implement Angular's built in [filter/search](https://docs.angularjs.org/api/ng/filter/filter). I have attempted to do this [on this branch](https://github.com/mozilla/seasponge/tree/filter-stencils) however it doesn't seem to be working. Ultimately we are filtering by the stencils `title` and `category`

See old

[2014-12-17 21:42] #27 closed, assigned to Glavin001

[2014-12-18 03:43] #36 closed, assigned to Frozenfire92

[2014-12-18 04:03] #8 closed, assigned to Glavin001

[2015-01-07 15:07] Glavin001 commented on #4
So XSLT is pretty cool.

Here's a way to convert XML to JSON: http://www.bramstein.com/projects/xsltjson/

[2015-01-07 16:00] Glavin001 commented on #18
Closed by https://github.com/mozilla/seasponge/commit/dc1fad254d8d87189ebe507bb2d06af057cacce5

[2015-01-07 16:00] #18 closed

[2015-01-07 16:24] Glavin001 opened #39 "Deleting Elements/Flows"
Missing feature! :open_mouth:

- [x] `Delete` button in the Element's Properties.

[2015-01-07 16:26] Glavin001 opened #40 "Data Classification & Security Controls"
- [x] `Data Classifications` and `Security Controls`
  - [x] adding
  - [x] editing
    - [x] title
    - [x] type
  - [x] removing
- [x] serialize
- [x] deserialize
- Import more `Data Classifications` and `Security Control` options, see #44

[2015-01-07 16:27] Glavin001 opened #41 "Sharable Link"

[2015-01-07 16:27] Frozenfire92 commented on #40
The dropdowns will take in a configuration file at time of model creation to allow for different companies workflows. Here is an example

[code]

[2015-01-07 16:34] Glavin001 opened #42 "Model loading creating curved and incorrectly-positioned Flows"
- [x] Save/Load
- [x] Switching diagrams

[2015-01-07 16:34] Glavin001 commented on #42
/cc @Frozenfire92 could you post some screenshot / examples?

[2015-01-07 16:36] Glavin001 opened #43 "Documentation"
- [x] Video / Screencast for usage
- [ ] Source code commented and documentation generated
- [x] Usage documented in Wiki
- [x] Provide sample .sponge file that showcases features

[2015-01-07 16:40] rainbee2214 commented on #16
This has already been implemented.

[2015-01-07 16:40] #16 closed

[2015-01-07 16:44] rainbee2214 commented on #4
We have changed our schema so much from our original plan that it is not feasible to import a Microsoft threat model. We found that the Microsoft threat modeling tool is actually very different from the Seasponge tool.

[2015-01-07 16:44] #4 closed

[2015-01-07 17:15] Glavin001 commented on #39
![image](https://cloud.githubusercontent.com/assets/1885333/5649812/4b7137d4-966f-11e4-8137-0bee4a83d268.png)

[2015-01-07 17:16] #39 closed

[2015-01-07 18:21] Glavin001 commented on #40
![image](https://cloud.githubusercontent.com/assets/1885333/5650853/809889cc-9678-11e4-8e19-81e7cd75a68b.png)

[2015-01-08 13:26] Glavin001 commented on #40
![image](https://cloud.githubusercontent.com/assets/1885333/5663077/5b9d98a6-9718-11e4-918b-c512ab6cc729.png)

[2015-01-08 16:20] kallada commented on #41
If this a client-side application - how do you efficiently intend on creating a shareable link?

[2015-01-09 02:52] Glavin001 commented on #40
@Frozenfire92 , do you mind taking a look at this once it's finished deploying. Let me know what you think :smile:

[2015-01-09 04:48] Glavin001 commented on #41
![image](https://cloud.githubusercontent.com/assets/1885333/5675613/46f1f498-9799-11e4-8fae-a611d67ec13d.png)

[2015-01-09 04:51] #41 closed

[2015-01-09 04:55] Glavin001 commented on #41
@kallada the implementation has been pushed, so feel free to look at the source code.

The basic idea is that we can serialize a `Model` as JSON and then into a string. This string can be encoded and set as a query-param in a URL. We generate a URL that has the query-param. In our case, we have a `/load` route that we pass `model` query parameter to, and the `LoadController` knows how to detect th

[2015-01-09 04:57] Glavin001 opened #44 "Import more Data Classifications and Security Control options"
The options are all listed in the `$scope` of the `DrawContoller`. See https://github.com/mozilla/seasponge/blob/master/app/scripts/controllers/draw.coffee#L71-L82
Simple read from a file and append the new items to their respective arrays. The `select` fields will automatically show them and allow them to be selected.

/cc #40

[2015-01-09 04:57] Glavin001 commented on #40
I have moved the `import more options` to #44. Therefore, this is complete.

[2015-01-09 04:57] #40 closed

[2015-01-09 12:54] Frozenfire92 commented on #41
I like it :smile:

However I think we should remove the refresh link button, and whenever it gains focus auto refresh it, or have a copy to clipboard button similar to github's clone link, and refresh it before we copy it.

I think we could use [this](https://github.com/asafdav/ng-clip) library

[2015-01-09 15:10] kallada commented on #41
Interesting - I am imagining that if our saving mechanism isn't efficient enough, we would be passing around extremely large URLs.

[2015-01-09 15:14] Glavin001 commented on #41
Yup, it could get fairly long. It's definitely not designed to be the primary way of sharing, just a simple way.

Also see [What is the maximum possible length of a query string?](http://stackoverflow.com/a/812962/2578205).

We could use a URL shortener: http://stackoverflow.com/questions/12696704/using-javascript-to-access-googles-url-shortener-apis-in-a-google-chrome-extens

Cloud Storage ( #19

[2015-01-09 15:21] jvehent commented on #41
This looks good and probably serves the need well enough. Don't worry too much about making it perfect. We can pass JSON documents around for the time being.

[2015-01-10 16:45] kallada opened #45 "Learning Patterns from Graphical Models"
We could use machine learning (ML) to create our own STRIDE analysis system.

Both STRIDE and DREAD is a fairly lame heuristic approach for automatically alerting threats. This issue proposes a new way to analyze threats using ML. That is, we would analyze patterns of threats discovered by humans using the application, and create a learning model to send.

<hr>
- [ ] Approval to collect anonymous

[2015-01-10 16:50] kallada commented on #42
Normal

![normal](http://i57.tinypic.com/2r6chzb.png)

Save/lload

![wtf](http://i57.tinypic.com/2r6chzb.jpg)

[2015-01-10 17:00] Glavin001 commented on #42
Thanks for posting those screenshots, @kallada.

We should pick a default and then pass those configurations around to the functions that build the endpoints. I actually like the curved lines. Which do you guys think we should use, curved or straight?

Configs for endpoints: https://github.com/mozilla/seasponge/blob/master/app/scripts/stencils/base.coffee#L208-L288
Build endpoints for Stencil Elem

[2015-01-10 17:51] kallada commented on #42
Weird feeling about this:

                # Render Flows
                instance.connect({
                    source: flow.sourceId
                    target: flow.targetId
                    }) for flow in @flows

From here, I can easily change the style of the connections however, @Glavin001 are we saving anchors (also known as endpoints) from the diagram? That would be why endpoints connec

[2015-01-10 18:36] kallada commented on #45
Thoughts @Glavin001 @Frozenfire92 @rainbee2214 ? This could blossom into a beautiful new method for security analysis.

[2015-01-10 18:41] Frozenfire92 commented on #45
I think its a great idea for a future release of seasponge. However I think there are a few concerns

1) It may not be so anonymous. With our new data communication and security controls they would be linked pretty intimately with the application / company
2) Is this going to be on its own server analyzing the save files, or would it be a local client of some kind that a company could use internal

[2015-01-10 18:42] Glavin001 commented on #42
For reference and context, here's the link: https://github.com/mozilla/seasponge/blob/master/app/scripts/services/diagram.coffee#L148-L152

---

Yup. Here: https://github.com/mozilla/seasponge/blob/master/app/scripts/services/diagram.coffee#L92-L95
We save the identifiers / names for the flows.

Is this still an issue? Could you post a screenshot please? That'd be a bug for sure.

We should be usi

[2015-01-10 18:43] Frozenfire92 commented on #42
See the screenshot above, when recreating the diagram it always uses the bottom anchor/connection

[2015-01-10 19:01] Glavin001 commented on #42
Oh I didn't even notice. Thanks for pointer.

I'd recommend looking at [saving/serializing](https://github.com/mozilla/seasponge/blob/master/app/scripts/services/diagram.coffee#L92-L95) and also at [loading/rendering](https://github.com/mozilla/seasponge/blob/master/app/scripts/services/diagram.coffee#L148-L152) and see if there are any differences in the `targetId` and `sourceId` between executio

[2015-01-10 19:04] kallada commented on #45
`Is this going to be on its own server analyzing the save files, or would it be a local client of some kind that a company could use internally`

We would just need some sort of API on our own server to collect only certain properties (Only information that users would be willing to share and only information that would keep them anonymous).

You are definitely right, there have been loads of issu

[2015-01-10 19:16] Glavin001 commented on #45
Unrelated side-note: @kallada I'd recommend a quick look of [GitHub Flavoured Markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet). In the future you can use [Blockquotes](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#blockquotes) which will look nicer and is proper practice on GitHub comments/issues :).

versus

`Code block`

---

I really like the idea o

[2015-01-10 19:30] kallada commented on #45
Actually, there wouldn't be a service involved. With ML we could derive/learn relationships that alert people of potential threats, based on patterns in previous data. Once we discover a good relationship, we can incorporate it into the application (it would not need any connection).

Where do we get the data? We need a data collector. I love the idea of keeping SeaSponge on the client-side. The a

[2015-01-10 19:30] kallada commented on #45
Thanks for the heads up ;)

[2015-01-10 19:42] Glavin001 commented on #8
Currently some of the layers are rendered out of order.

- [ ] Render each layer on their own canvas
- [ ] merge canvas layers, see http://stackoverflow.com/questions/3750580/save-many-canvas-element-as-image/3797989#3797989

[2015-01-14 16:01] Glavin001 opened #48 "Assumptions for Model"
- User entered assumptions to explain context for the project
- [x] Key value pairs [user entered] for assumptions
- [x] Edit Model UI
- [x] Serialize
- [x] Deserialize

[2015-01-14 16:01] Glavin001 opened #49 "Saving does not work on Firefox"
Steps to reproduce:
- Use Firefox

[2015-01-14 16:02] Glavin001 opened #50 "Change name of Stencil/Element"
- [x] Change title in Element editor
- [x] Title changes and updates js-plumb Element
- [x] Serialization support
- [x] Deserialization support

[2015-01-14 16:07] Glavin001 opened #51 "Custom icon for Stencil/Elements"
- [x] Render Icon on Element
- [x] Use `icon` field for rendering Icon
- [x] Refresh icon on change / loading (deserializing)
- [x] Serialize
- [x] Deserialize

[2015-01-14 16:54] #44 closed

[2015-01-15 00:41] Glavin001 commented on #42
@Frozenfire92 would you like to tackle this one? I'm going to try and resolve those new issues. Let me know. Thanks!

[2015-01-15 00:42] Glavin001 commented on #49
This could be potential problem.. http://stackoverflow.com/a/25047811/2578205

[2015-01-21 02:03] Glavin001 commented on #50
![seasponge-change-element-title](https://cloud.githubusercontent.com/assets/1885333/5829986/1e3e5afe-a0f0-11e4-9069-4c3b2cae1207.gif)

[2015-01-21 02:11] #50 closed

[2015-01-21 02:20] Glavin001 commented on #49
Link above totally worked. Score. The problem was the usage of a generic event, instead of `MouseEvent`.
![seasponge-save-on-firefox](https://cloud.githubusercontent.com/assets/1885333/5830129/87715088-a0f2-11e4-98bc-4dfc6f6f55e9.gif)

[2015-01-21 02:22] #49 closed

[2015-01-21 02:49] Glavin001 commented on #51
![seasponge-element-icon](https://cloud.githubusercontent.com/assets/1885333/5830429/8faeb502-a0f6-11e4-869d-a836c561cc36.gif)

[2015-01-21 02:51] #51 closed

[2015-01-21 03:16] Glavin001 commented on #48
"Key-value pair" is represented as an Object with a `title` and `details` field.

---

![seasponge-model-assumptions](https://cloud.githubusercontent.com/assets/1885333/5830669/4fd3b028-a0fa-11e4-8561-d195e60967a0.gif)

[2015-01-21 03:18] #48 closed

[2015-01-21 04:05] Glavin001 commented on #42
Looks like the `targetId` and `sourceId` are just the Elements and not their Endpoints/Anchors.

See http://www.jsplumb.org/doc/connect-examples.html for more examples of connecting endpoints in jsPlumb.
Specifically an example such as:

jsPlumb.connect({
  source:'window3',
  target:'window4',
  paintStyle:{ lineWidth:10, strokeStyle:'rgba(0, 0, 200, 0.5)' },
  anchors:["Right", "Left"],
  endpoi

[2015-01-21 04:11] Glavin001 commented on #42
Instead of using `source`, `target` and `anchor`s, using the UUIDs. See http://stackoverflow.com/a/22264487/2578205

[2015-01-21 04:25] Glavin001 commented on #42
All good now!
![seasponge-flows](https://cloud.githubusercontent.com/assets/1885333/5831202/f7a7a30a-a103-11e4-85a0-faf1e883a074.gif)

[2015-01-21 04:26] #42 closed

[2015-01-21 04:29] Glavin001 commented on #43
I have been using http://www.cockos.com/licecap/ with great pleasure. Highly recommend it for animated-gif images of SeaSponge for Documentation and your other projects!

[2015-01-21 15:42] Glavin001 opened #53 "Pressing [Enter] will submit the `Delete Element` button and delete the selected Element"
## Reproduce
- Select Element
- Click `Enter Title` field
- Press [Enter]
- Element disappears

![seasponge-delete-element-bug](https://cloud.githubusercontent.com/assets/1885333/5839103/557b73e0-a162-11e4-9aeb-5578cc1bc6d8.gif)

[2015-01-21 16:02] Glavin001 opened #54 "Condense Create/Loading routes into Draw route"
It has been noted that the Loading/Saving is a little cumbersome.

[2015-01-21 16:03] Glavin001 opened #55 "Condensing Stencils to be more generic"
- [ ] Remove Flows
- [ ] More generic Stencils
  - Ex: `No-relational` and `SQL Database` should just be one `Database` stencil

[2015-01-21 17:08] kallada commented on #53
@Glavin001 Side note: What tool did you use to make that .gif?

[2015-01-21 17:48] Glavin001 commented on #53
http://www.cockos.com/licecap/

[2015-01-28 15:42] Glavin001 commented on #43
Added TODO `Provide sample .sponge file that showcases features` as per request from today's meeting.

[2015-01-28 18:49] jeffbryner opened #56 "Implement copy for existing screen elements"
Often when drawing you have an element you'd like to reproduce (icon, name, tags, etc) several times on the diagram like processes, users, etc.

Currently you can do this by adding the same stencil multiple times and manually changing the attributes to be the same, but it would be easier if there was a 'copy element' option to facilitate.

[2015-01-28 20:09] Glavin001 commented on #56
+1

---

- [ ] Allow for selecting multiple elements/flows when shift/control/command key is being held
- [ ] `oncopy`, serialize the selected objects
- [ ] `onpaste`, deserialize the objects from clipboard and add to current diagram
  - [ ] offset / translate the position of these elements such that they do not get pasted directly on top of the original elements, such that the user cannot see tha

[2015-01-29 01:49] Glavin001 commented on #51
In addition to icon, should we utilize an elements shape?
http://css-tricks.com/examples/ShapesOfCSS/

[2015-02-04 14:40] Frozenfire92 opened #57 "Diagram info persists between sessions"
### Reproduce
1. Load a model
2. File -> New Model
3. Examine Diagram Info

![screen shot 2015-02-04 at 10 39 24 am](https://cloud.githubusercontent.com/assets/5893112/6042330/297698e4-ac5a-11e4-9cfb-7d1287eefa1c.png)

[2015-02-04 16:28] Glavin001 opened #58 "Change properties of Flow"
- [x] Label
- [x] Tags
- [x] Delete Flow
- [x] Serialize
- [x] Deserialize

[2015-02-13 14:22] kallada opened #59 "Integration with ThreatExchange"
Facebook recently announced an initiative to put security threats in a comprehensive database: ThreatExchange.

We could integrate the known threats into our software accordingly for fast detection.

[2015-02-13 14:32] Glavin001 commented on #59
See https://threatexchange.fb.com/

Cool idea!

[2015-02-22 18:33] kallada commented on #59
Alternatively, we could make our own competing threat database..

[2015-02-25 16:45] Glavin001 commented on #58
![image](https://cloud.githubusercontent.com/assets/1885333/6375261/31e2b8e4-bcec-11e4-8bf0-d40abde499f8.png)

[2015-02-25 17:20] Glavin001 commented on #58
![seasponge-flow-properties](https://cloud.githubusercontent.com/assets/1885333/6375959/012be4e6-bcf1-11e4-9ef3-8aed89c9f681.gif)

[2015-02-25 17:21] #58 closed

[2015-02-25 17:27] Glavin001 commented on #55
Should this be closed?

[2015-02-25 18:11] Frozenfire92 commented on #55
Still working on icons then I'll close and create a PR
On Feb 25, 2015 1:27 PM, "Glavin Wiechert" <notifications@github.com> wrote:

[2015-03-11 13:30] #55 closed

[2015-03-11 14:40] Frozenfire92 opened #61 "Fix filerev image renaming in Gruntfile"
The filerev/usemin is not working properly in renaming the images in the code. A temporary fix has been pushed where it ignores images.

[2015-03-11 15:09] #53 closed

[2015-03-11 15:17] Glavin001 commented on #53
Solution from: http://stackoverflow.com/a/1977126/2578205

[2015-03-11 16:52] Glavin001 commented on #34
Note that:

From https://jsplumbtoolkit.com/doc/setup

---

Zooming API: http://www.jsplumb.org/doc/zooming.html

[2015-03-25 14:51] Frozenfire92 opened #62 "Wiki Images"
Currently you can't upload images to github wikis, this issue will serve as hosting for said images

[2015-03-25 14:51] Frozenfire92 commented on #62
![basicusage](https://cloud.githubusercontent.com/assets/5893112/6827282/55cf9060-d2e5-11e4-802f-7663719ee873.gif)
![creation](https://cloud.githubusercontent.com/assets/5893112/6827283/55da7ac0-d2e5-11e4-8562-8ae881be2e29.gif)

[2015-03-30 08:34] Pana commented on #8
In my situation the color is a little different as the jsplumb chart and some css effect is not render normally such as the dotted border: 1px dotted gray , this may the issue of html2canvas

[2015-03-30 13:03] Glavin001 commented on #8
Thanks for letting us know, @Pana. I think we can migrate these into a separate bug Issue.

[2015-03-30 13:05] Glavin001 opened #63 "Rendering bugs in exporting threat model"
Todo:

- [ ] Currently some of the layers are rendered out of order.
  - [ ] Render each layer on their own canvas
  - [ ] merge canvas layers, see http://stackoverflow.com/questions/3750580/save-many-canvas-element-as-image/3797989#3797989
- [ ] color is a little different as the jsplumb chart and some css effect is not render normally such as the dotted border: 1px dotted gray , this may the iss

[2015-03-30 13:51] Glavin001 commented on #34
The zoom buttons work, however there should be some research done into jsPlumb such that zooming does not have unexpected visual results, such as cropping the drawing panel.

[2015-03-31 22:58] Glavin001 commented on #2
Now that we have released, I see this as being top priority to see how our users are using this and improve workflow.

[2015-04-01 00:21] kallada commented on #2
+1

[2015-04-01 14:37] sbmilburn opened #64 "Cannot create flows to multiple targets"
Scenario #1 - Need to be able to create a load balancer object and then 1..N webservers. Tried to have the flow go to mutliple webservers but currently it only allows you to select a single target.

Secenario #2 - Some of our web applications talk to multiple databases. One for OLTP transactions and one for pulling reports. having the ability to have the link a flow to more than one target locatio

[2015-04-01 14:47] sbmilburn opened #65 "Pressing delete key in 'diagram' should delete a selected 'element'"
I was testing and creating a simple drawing. I created an object that I decided I didn't want to use that object. I pressed the delete key on my laptop and suddenly I went from the "draw" URL of http://mozilla.github.io/seasponge/#/draw back to the initial login screen of http://mozilla.github.io/seasponge/#/create and lost all objects in the diagram.  I testing this several times and could consis

[2015-04-01 14:48] Glavin001 commented on #64
I can see your use cases being very common and high priority. Thank you for sharing.

We should be able to use jsPlumb's `maxconnections` setting for sources to resolve this. See https://jsplumbtoolkit.com/doc/connections.html for more details. The applicable section of SeaSponge code is at  https://github.com/mozilla/seasponge/blob/master/app/scripts/stencils/base.coffee#L129-L147

I'll try and d

[2015-04-01 14:51] sbmilburn opened #66 "Feature - pre-built threats"
Would be a nice feature to have a set of pre-built threats vs having users create every threat  themselves.  A good place to start would be the OWASP Top10 list.  https://www.owasp.org/index.php/Main_Page

[2015-04-01 15:06] Glavin001 commented on #65
This is both a bug and expected behaviour.

When you press delete in your web browser, it goes back in history to your previous page (as you noted). This is expected behaviour.

However, the bug in SeaSponge is actually the rendering / deserialization of the threat model in memory. I am testing now and can reproduce, however it is worth noting that even by creating a new model (see https://github.

[2015-04-01 15:08] Glavin001 commented on #66
Great idea! It would be awesome to have templates of pre-built threat models that users can start off with, instead of loading / creating their own.

[2015-04-01 18:02] Glavin001 commented on #65
I narrowed it down to https://github.com/mozilla/seasponge/blob/master/app/scripts/stencils/base.coffee#L93

The `@$element.parent()` is returning a container (which it should not) instead of 0 items, so the element is not being appended to the container. Then because the element does not exist, the endpoints are failing to be created and that is the error I see later on.

I'm working on making it

[2015-04-01 18:13] Glavin001 commented on #65
Pushed patch. In about 3 minutes Travis CI will deploy this :+1:

[2015-04-01 18:30] Glavin001 commented on #65
With regards to the backspace/delete keypress making the web browser go backwards in history: http://stackoverflow.com/questions/1495219/how-can-i-prevent-the-backspace-key-from-navigating-back

I'm looking into that now.

- [ ] disable navigating web browser back on delete keypress
- [ ] delete selected element (if applicable) on delete keypress

[2015-04-01 18:40] #65 closed

[2015-04-01 18:41] Glavin001 commented on #65
All done. Should be deployed automatically in a few minutes. Let me know how it goes! Thanks.

[2015-04-01 18:44] Glavin001 commented on #64
This demo appears to have multiple output connections: https://jsplumbtoolkit.com/demo/sourcesAndTargets/dom.html

[2015-04-01 18:48] Glavin001 commented on #64
I have a working demo of multiple connections from source endpoints:
![image](https://cloud.githubusercontent.com/assets/1885333/6948791/7d255216-d886-11e4-8d16-aab8304663f5.png)

We should look into the `filter` function and how certain endpoints can only connect with another subset of endpoints. The more feedback we receive and example use cases the better we can make this.

[2015-04-01 18:50] #64 closed

[2015-04-01 18:50] Glavin001 commented on #64
Pushed this feature. Should be available soon. Let me know if it works for you. Thanks!

[2015-04-01 18:56] Glavin001 commented on #56
This guide is great! https://www.lucidchart.com/techblog/2014/12/02/definitive-guide-copying-pasting-javascript/

[2015-04-01 19:09] Glavin001 commented on #56
^ While `window.clipboardData` would be great, it appears not to work.

I am going to opt for an in-app, SeaSponge specific "clipboard".

[2015-04-01 21:55] sbmilburn opened #67 "Can't add threats to diagram"
In the attached screen shot I created a simple diagram and added to threats "My Threat 1" and "My Threat 2" but can't seem to figure out how to add them onto the diagram so does that functionality not exist yet?

![image](https://cloud.githubusercontent.com/assets/11755869/6953577/191f2a14-d87f-11e4-9f20-9006558a6498.png)

[2015-04-02 00:42] Glavin001 commented on #67
Could you elaborate on what you mean?

So far I see our current expected usage: threats have been added to the diagram.

Are you wanting to connect Threats to Elements and Flows?

[2015-04-02 01:00] Glavin001 commented on #56
Currently only single elements will be selectable at a time and copy/paste-able.
Right-click / context menu is also coming later.

![seasponge_copy_paste](https://cloud.githubusercontent.com/assets/1885333/6955823/6c70f14e-d8ba-11e4-87e4-003443d4f7dd.gif)

[2015-04-02 01:01] #56 closed

[2015-04-02 01:01] Glavin001 commented on #56
Pushed. Should be available now in a few minutes. Thank you for your patients.

[2015-04-02 01:02] Glavin001 commented on #67
@Frozenfire92 you built the Threat section. Maybe you would be better suited to tackle this one?

[2015-04-02 01:05] Glavin001 commented on #17
Here's a library for GitHub API in the browser: https://github.com/michael/github

[2015-04-02 01:13] Glavin001 commented on #19
Not only would linking issues with Github ( #17 ) be awesome, but what about using GitHub's API to actually store our SeaSponge files? Using https://github.com/michael/github we could actually use GitHub as a cloud storage. Hopefully this will encourage sharing of SeaSponge generated threat models and also make it easier to get started and continue modelling threats for projects.

[2015-04-02 01:16] #57 closed

[2015-04-02 01:16] sbmilburn commented on #67
Where do I see them added because I do not see them on the diagram unless I'm missing something? but in the screenshot I show I don't see how you link the threats on the left to the diagram on the right part of the page.  Yeah it would be nice to link the threats to specific points or flows of the diagram. This way I can link SQL related threats to the database flows and web threats to the web flo

[2015-04-02 01:23] Glavin001 commented on #67
My apologies: when I said that the treats have been added to the diagram, I mean from a model / in-memory perspective. However, as you correctly pointed out, they are not rendered visually, yet.

Do you think Threats would be something that should be attached directly to an Element or Flow? For instance, any of those items under "Properties". Should these Threats be more so Element/Flow specific,

[2015-04-02 01:23] Glavin001 commented on #62
I'm going to close this: we can still use it to store more images, if necessary. :+1:

[2015-04-02 01:23] #62 closed

[2015-04-02 01:24] Glavin001 commented on #28
Currently trending on GitHub: https://github.com/ConnorAtherton/loaders.css

@kallada are you still working on this?

[2015-04-02 01:34] Glavin001 commented on #43
The air mozilla video is at https://air.mozilla.org/mozilla-winter-of-security-seasponge-a-tool-for-easy-threat-modeling/

Here is a share link for the SeaSponge threat model we demoed: http://goo.gl/Q8mt0T

[2015-04-02 01:54] sbmilburn commented on #67
I think attaching it to the element via the properties would be a good idea because you could have multiple threats or even a group of threats for a given flow. Implementing what you describe should suffice.

Cheers
Shane

Sent from my iPad

[2015-04-02 01:56] Glavin001 commented on #67
Do you see a case where a Diagram itself would have a threat -- what it is now? Threats on diagrams would not be attached to anything visual and so they would not be rendered in the drawing panel.
I am wondering if it would be OK to remove threats from the Diagram all together and add to Elements and Flows.

/cc @Frozenfire92 thoughts?

[2015-04-02 02:04] Glavin001 commented on #43
For documentation generation use: https://github.com/m7r/grunt-ngdocs

[2015-04-02 12:33] Glavin001 commented on #4
I would about developing a partial converter? While there are significant differences, SeaSponge can be very flexible and would likely work for the most part to import basic stencil elements and create their flows.

[2015-04-02 14:35] PenelopeFudd opened #68 "Spelling error: "Add Asssumption""
An S too many appears on the 'Add Assumption' button, under the 'Model Information' section of the side panel.

[2015-04-02 14:40] Glavin001 commented on #68
Thanks for letting us know!

[2015-04-02 14:41] PenelopeFudd opened #69 "Zoomed too much, broke something"
I wanted to zoom in as far as I could, to see what I could see.  After zooming 3 levels, it stopped letting me zoom in, which was expected.  However, the zoom out button didn't do anything.  In fact, most (all?) of the buttons stopped working.  :-)

[2015-04-02 14:45] PenelopeFudd opened #70 "Not sure how to draw lines"
I can create threats, and drag and drop stencils.  The thing I can't figure out is how to connect the stencils with lines.  If a person has to read the documentation to figure that out, it may be that the UI needs some more refinement.

[2015-04-02 14:48] PenelopeFudd commented on #70
Aha.  The animated gif made it clear; the solid circles on the edges of stencils are targets, the empty circles are sources.  Could you make the empty circles into arrow heads?

[2015-04-02 14:49] Glavin001 commented on #70
Have you taken a look at https://github.com/mozilla/seasponge/wiki/Usage ?

![](https://cloud.githubusercontent.com/assets/5893112/6827282/55cf9060-d2e5-11e4-802f-7663719ee873.gif)

/cc @Frozenfire92

[2015-04-02 14:53] PenelopeFudd commented on #70
Yes, the animated gif on the Usage page made it clear, thanks.  I'm just saying that the best programs I've seen didn't need (external) documentation for their basic functions.  Also, UI design is hard.  Also^2, seeing what difficulties absolutely new users encounter is the key to getting the UI perfect.

Thanks for a great program!

[2015-04-02 14:55] Glavin001 commented on #69
Sounds like there is an element blocking / in front of those buttons. There are bugs with the zooming (see #34 ) and I think that when you zoomed in that the drawing panel actually overlaid over top of the navigation items and buttons.

Zooming is still in the works, that is why #34 is not yet closed. Thanks for letting us know!

[2015-04-02 14:57] Glavin001 commented on #70
Absolutely agree. The goal is that the usage documentation is not even necessary, and we thought that had been achieved. However, I can understand how it may be confusing and we do want to make those endpoints more obvious that they are draggable.

Another idea is that we get rid of the endpoints entirely and make the stencil element itself like an endpoint that you can just create and connect to.

[2015-04-02 15:20] Glavin001 commented on #70
I think removing the anchor/endpoints and making the stencil elements themselves have the drag-n-drop flows, would be easiest to understand and intuitive.

![demo](
![image](https://cloud.githubusercontent.com/assets/1885333/6966940/a0f742f6-d932-11e4-81a7-5707937b9fa2.png))

Thoughts?

[2015-04-02 18:25] #68 closed

[2015-04-02 18:26] Glavin001 commented on #69
I'm going to call this a duplicate of #34 , as zooming really is not fully implemented, yet.

[2015-04-02 18:26] #69 closed

[2015-04-02 19:31] mlmurray commented on #66
This is the way that the Microsoft Threat Modeling Tool (TMT) works - STRIDE is evaluated for each element and data flow and threats are automatically generated.   I'd like to see this tool do the same.

[2015-04-02 19:45] Glavin001 commented on #66
:+1: Definitely sounds like the way to go. We had discussed STRIDE and TMT as a team while developing. I definitely want to have a repository of threats that are associated with elements and data flows.

It would be great to pull threats from OWASP automatically, however since it is in a Wiki format we may have to do a lot of the grunt work right now. A database & API of threats would be great!

W

[2015-04-02 21:52] Frozenfire92 commented on #66
I like this idea, but it would be interesting if OWASP was interested in maintaining a repository that we could then pull from. This wouldn't limit any other interested parties from scraping our repo, butb eing able to contribute to a common official repo

[2015-04-02 21:55] Frozenfire92 commented on #70
I think this is an interesting idea, however I'm not sure on this solving the underlying problem of knowing which way the data flows. For example that one you can only go blue to green, but the way our app works you can go any element to any element. What signifies that direction?

[2015-04-02 22:02] Frozenfire92 commented on #67
I'm wondering what is the best way to visually denote this. I think having threats be separate of the properties (the drop down tabs) makes sense from an ease of use perspective. However how do we properly link them to flow(s), element(s), and diagram(s)? As some threats may be model wide, where as some like @sbmilburn has mentioned are very specific to certain aspects. Would a second header (drop

[2015-04-02 22:04] Glavin001 commented on #67
Joel could you give me an example for a model wide threat? I'm trying to picture some examples so I can think through these and what makes sense for UX. Thanks! 

—
Sent from Mailbox

On Thu, Apr 2, 2015 at 7:02 PM, Joel Kuntz <notifications@github.com>
wrote:

[2015-04-02 22:33] Glavin001 commented on #66
+1 have a repository of threats separate from but used by SeaSponge and maintained by OWASP would be great!

[2015-04-02 22:34] Glavin001 commented on #70
jsPlumb supports having arrow overlays to signify direction.

- Docs: https://jsplumbtoolkit.com/doc/overlays.html
- Demo: http://www.freedevelopertutorials.com/jsplumb-tutorial/examples/jsplumb-connection-arrow-example/

[2015-04-05 23:55] #43 closed

[2015-04-05 23:56] Glavin001 commented on #43
We now have grunt tasks to generate docs. See README.

[code]

[2015-04-09 07:40] Pana commented on #8
I have try canvg on IE11, but it didn't work on it

[2015-05-06 23:08] cgalligan opened #71 "App initiation sits at "watch" task"
When running $grunt serve or $grunt serve:docs, the process consistently hangs at "Running "watch" task", is this expected behavior? How long does this process take?

[2015-05-07 11:34] Frozenfire92 commented on #71
Hi @cgalligan

This is expected behaviour. What watch does it continually check the directory for any changes. That way during development the locally served copy will be updated as you change files. Let me know if there is anything else that needs clarification!

[2015-05-07 11:34] #71 closed

[2015-05-07 14:14] cgalligan opened #72 "Update Connect Task to Start Web Server on Hostname/ IP"
This is probably really simple, but how do I edit the code so that the webserver is accessible via hostname or server IP? Right now the connect task starts the process on localhost.

[2015-05-07 20:32] Glavin001 commented on #72
Good question.

See https://github.com/mozilla/seasponge/blob/master/Gruntfile.coffee#L78-L79
You can change `hostname` to `0.0.0.0` and that should do it.

[2015-05-08 17:21] cgalligan commented on #72
Thanks this was exactly what I was looking for

[2015-05-08 17:21] #72 closed

[2015-05-08 17:24] cgalligan opened #73 "Authentication and SSL"
Is there any guidance to wrap authentication around this tool along with SSL/ TLS?

[2015-05-13 14:48] shirishp commented on #19
Apologies in advance if I have misunderstood something. But I think when we create a link, you can always generate full diagram with the link. Given that, do we still need to store the files on "cloud"? I can probably just ping or store the URL in my email and generate the diagram if I want.

[2015-06-27 01:19] Glavin001 commented on #2
@kallada why did you close this issue? We still do not have Google Analytics.

[2015-06-27 01:34] Glavin001 commented on #2
Hopefully someone from Mozilla who has permission to create the Google Analytics property will submit a Pull Request. Unfortunately, we did not have it setup earlier and missed all of the analytical usage data we could have recorded from our release. This is why I wanted to set it up sooner than later. Too late now. Live and learn.

[2015-06-27 01:39] kallada commented on #2
I closed this, because I don't think that this is a serious priority right now; I think I'll ping a Mozillan for V2.

[2015-06-27 01:40] Glavin001 commented on #2
If it's not a priority, remove the `high priority` label. That is what the labels are for. Thanks.

[2015-06-27 01:51] kallada commented on #73
Thanks for adding an issue!,

Do you mean wrapping authentication around the SeaSponge web-app itself?

[2015-06-27 05:11] kallada opened #74 "New `Create a Threat Model Page`"
This issue raises the concern about simplifying the model creating/loading process.

Below is a mockup for the intended new `create a threat model page`.

![image](https://cloud.githubusercontent.com/assets/3848298/8390575/ef6558d2-1c68-11e5-8fc7-28b733fa332a.png)

In my opinion, it's more smooth & simplified: load/create models all on a single "quickstart" page.

[2015-06-27 14:08] Glavin001 commented on #74
I like the new look!

Simplifying the creating/loading process is related to #54. Feel free to close #54 in favour of this more comprehensive issue.

[2015-06-27 14:09] Glavin001 commented on #74
By the way, you can create a Pull Request at any time, and conventionally screenshots, questions, comments, and other issues to review are discussed in the Pull Request's Issue.

[2015-06-27 14:10] #54 closed

[2015-06-27 14:11] Glavin001 commented on #54
Closing this issue in favour of @kallada 's new and improved issue: #74.

[2015-06-27 23:02] Frozenfire92 commented on #74
The new design looks nice! I think adding a margin between the create/load buttons would look nice as well as left aligning the label text and moving it closer to the input boxes

[2015-07-31 22:59] xntrik opened #75 "Uncaught Error"
Have spun up a fresh clone of seasponge. After installing dependencies and spinning up a local server (grunt serve). As soon as I hit the URL (automatically opened in Chrome) I get a blank screen. The console error is:

Uncaught Error: [$injector:unpr] Unknown provider: $$asyncCallbackProvider <- $$asyncCallback <- $animate <- $compile
This is in angular.js:68 (the last return statement).

[code]

[2015-08-01 01:15] Glavin001 commented on #75
I am not immediately sure what this issue could be. Potentially a dependency that broke something. Let me know if you discover anything else. Thanks!

[2015-08-07 19:48] toothbrush7777777 opened #76 "Wiki currently doesn't exist"
There are several links (now dead) on the homepage to the wiki, which doesn't exist. Can the pages be recovered or created, please?

I'm finding it rather hard to follow the UI, and it would be really helpful if there was some documentation on it.

Thanks

[2015-08-07 20:09] Frozenfire92 commented on #76
It appears someone has deleted that page :( I wasn't able to find a restore or history option either)

This issue holds the gifs that were available. Will have to look into properly documenting this

[2015-08-07 20:10] Glavin001 commented on #76
Looks like @kallada deleted some pages: https://github.com/mozilla/seasponge/wiki/_history

[2015-08-07 20:11] kallada commented on #76
Yeah - sorry - I was moving the docs to a better documentation service. I'll fix that shortly.

[2015-08-07 20:19] kallada commented on #76
@toothbrush7777777

As far as I can tell there was only one page in the Wiki; It's been restored for now, [check it out](https://github.com/mozilla/seasponge/wiki/Usage).

Don't hesitate to let us know if you have any other issues.

[2015-08-07 20:19] #76 closed

[2015-08-08 01:23] Glavin001 commented on #76
Thanks for clearing that up, @kallada. Moving the docs may end up helping keep the docs in sync with the code. Once the docs/wiki have migrated into the app repo itself then we can then remove from the wiki. Thanks!

[2015-08-11 17:56] toothbrush7777777 commented on #76
Thank you very much. Now I'm beginning to understand the flow :relieved:

[2015-08-11 18:27] Glavin001 commented on #76
@toothbrush7777777 you may also find the video helpful: https://air.mozilla.org/mozilla-winter-of-security-seasponge-a-tool-for-easy-threat-modeling/

[2015-08-12 17:10] varwiz commented on #75
I get the same error too when i do a grunt --force

[2015-08-13 08:20] kraghuveer commented on #75
I could resolve this error if I use angular 1.3.15 instead of angular 1.4.3.

Best regards,
Raghu.

On Wed, Aug 12, 2015 at 10:40 PM, varwiz <notifications@github.com> wrote:

[2015-08-13 14:33] varwiz commented on #75
I replaced angular-animate.js in app/index.html because this file and bower injected angular had version mismatches. I guess replacing angular.js works too. Let me check.

[2015-08-14 02:00] Frozenfire92 commented on #75
So this is definitely a dependency out of date issue

I will look into it this weekend. If anyone gets around to it before me checkout out [package.json](https://github.com/mozilla/seasponge/blob/master/package.json) and update the dependency(ies?) there and submit a PR!

For reference was this on OSX, Linux?

[2015-09-24 07:32] DinisCruz commented on #75
I just had the same error. I looks like this

![image](https://cloud.githubusercontent.com/assets/656739/10067753/d0c3d600-6296-11e5-8052-bc9d6c782108.png)

Is this the workaround

[2015-09-24 07:40] DinisCruz commented on #75
btw the updates branch is also affected

![image](https://cloud.githubusercontent.com/assets/656739/10067886/e04bb5ba-6297-11e5-9633-2a89a9c2821d.png)

[2015-09-24 07:47] DinisCruz opened #78 "Sample Threat models?"
When using the app for the first time I'm exposed to

![image](https://cloud.githubusercontent.com/assets/656739/10068002/d1364666-6298-11e5-8a28-729c0484a138.png)

and the 'Load Model' button makes me want to load a couple to get an idea of what can be created.

The question is where can I find sample Threat Models that can be loaded? :)

[2015-09-24 07:50] DinisCruz opened #79 "Angular error when Loading saved .sponge file"
Saved model from  http://mozilla.github.io/seasponge/#/draw

![image](https://cloud.githubusercontent.com/assets/656739/10068050/2ce29898-6299-11e5-9b6c-de28b60db1de.png)

which when loaded in local instance resulted in:

![image](https://cloud.githubusercontent.com/assets/656739/10068037/1202e92e-6299-11e5-9ce6-aab9cfeeacc4.png)

[2015-09-24 07:51] DinisCruz commented on #79
actually that error also happened when creating a new model

![image](https://cloud.githubusercontent.com/assets/656739/10068085/79d6ac02-6299-11e5-879f-48ab6a2d9fcd.png)

[2015-09-24 07:56] DinisCruz commented on #79
ok forcing use of angular 1.3.15 seems to solve it

here is the create ui

![image](https://cloud.githubusercontent.com/assets/656739/10068157/04bd9c22-629a-11e5-940a-77e3e66d1d99.png)

and here is the load diagram (that failed initially)

![image](https://cloud.githubusercontent.com/assets/656739/10068169/1e9e6e78-629a-11e5-880f-455f14e3bdaa.png)

[2015-09-24 07:56] #79 closed

[2015-09-24 07:57] DinisCruz commented on #79
for reference here is my  fix

[code]

[2015-09-24 07:57] DinisCruz commented on #75
forcing it to 1.3.15 worked.

here is my fix https://github.com/mozilla/seasponge/issues/79#issuecomment-142845405

[2015-09-24 15:56] Glavin001 commented on #75
Thanks for letting us know what worked for you, @DinisCruz.

[2015-09-24 15:58] Glavin001 commented on #78
Here is a link to an example: http://goo.gl/Q8mt0T

See https://github.com/mozilla/seasponge#example-threat-model-developed-with-seasponge for link to video and more details.

[2015-09-29 03:34] cgalligan opened #80 "Application Doesn't Load"
When running # grunt serve or # grunt serve:docs; the application appears to load based on the command line output; however when we try to browse to the application we get the Seasponge logo on the tab, but a blank page. Is there another command we should run to initiate the application?

[2015-10-26 16:29] michaelpjohnson commented on #80
+1
I get the same output. I can view the source and see that the server returned code, but my browser doesn't render anything. I can also visit: http://127.0.0.1:35729/livereload.js?snipver=1 and get code to return as well.

[2015-10-27 15:20] michaelpjohnson commented on #80
@cgalligan If you actually merge the pending PR then it works. I just copied the raw file https://raw.githubusercontent.com/SimplicityGuy/seasponge/master/bower.json and re-ran the npm/bower installs. Works for me now.

[2015-10-27 15:32] Frozenfire92 commented on #80
Merged the PR, sorry about the delay. Feel free to reopen if that didn't fix it

[2015-10-27 15:32] #80 closed

[2015-10-27 15:43] michaelpjohnson commented on #80
@Frozenfire92 I pulled a fresh copy and re-installed from the PR. It works perfectly now. Thanks for all the work you and the team have put into this.

[2015-10-27 16:10] Frozenfire92 commented on #75
I have merged #79 could @xntrik @DinisCruz @varwiz @kraghuveer test and reopen if the issue persists?

[2015-10-27 16:10] #75 closed

[2016-01-07 20:15] amuntner commented on #14
Right now the lack of reporting is what keeps this from being a useful tool (for me) is the lack of any reporting  - a user could spend a lot of time inputting information but then not having a good way to get it out.

Could this prioritization be reconsidered?

[2016-09-15 16:06] coffeetocode commented on #78
Glavin's link doesn't seem to work anymore, here's a new one recreated by following along with their [video](https://blog.mozilla.org/security/2015/04/02/introducing-project-seasponge-quick-and-easy-threat-modeling/): [Example Web App ](http://mozilla.github.io/seasponge/#/load?model=%7B%22title%22%3A%22Mozilla%20Example%20Web%20App%22%2C%22version%22%3A%220.1.0%22%2C%22date%22%3A%222016-09-15T15%

[2016-09-15 17:09] Glavin001 commented on #78
Definitely agree! Feel free to submit a Pull Request and one of us can review and merge. Thank you!

[2017-01-17 13:33] raventeller opened #81 "Non fatal build errors without imagemin-gifsicle installed"
No where in the install docs is imagemin-gifsicle mentioned dependancy.
I was building this on archliux so there may be something weird happening becasue the OS is configed differently - but in this case I don't think so because after I did npm install imagemin-gifsicle I didn't get the build errors any more.
Error

Running "concurrent:dist" (concurrent) task
    Warning: Loading "imagemin.js" tas

[2017-04-10 20:49] theshades opened #82 "Reports brings me back to load page?"
Every time I click the reports button it brings me back to the "select model" page on the demo.
The reports are something I need to determine the worthiness of this tool.

Thanks!

[2017-07-04 06:19] amitesh-gaurav opened #83 "npm ERR! phantomjs@1.9.20 install: `node install.js`"
Hi, I encountered the following error, while installing node dependencies using "npm install" command.
Following is the detailed error message from debug.log.
[code]
I found "npm set strict-ssl false" should fix this issue, but it's not working for me.
I'm working behind a corporate proxy. Could it be blocking certain packages from installing?
Please suggest fixes.

[2017-07-06 05:45] amitesh-gaurav commented on #83
Hi, closing the issue as It was due to network firewall.

[2017-07-06 05:45] #83 closed

[2017-10-05 03:50] Wingless-Archangel opened #84 "any active maintainers?"
Is this project still active or discontinue?

[2017-10-05 12:14] jvehent commented on #84
it's not in use and no one's working on it, but you're welcome to use the current version

[2017-10-05 12:14] #84 closed